*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main{
	width: 70%;
	padding: 50px;
	margin: auto;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);}

@font-face{
	font-family: roboto;
	src: url(../fonts/Roboto-Regular);
}

body{
background: #efefef;
font-family: Roboto;
}

.photo:hover{
	transform: rotate(3deg) scale(1.07);
	box-shadow: 0 0 20pxx rgba(0, 0, 0, 0.4);
}

.photo{
	height: calc((35vw - 40px)/16*9);
	width: calc(50% - 40px);
	margin: 10px;
	background-color: orange;
	background-size: cover;
	background-position: center;
	transition: all 0.5s ease;

}
h1{
	width: 100%;
	text-align: center;
	font-size: 48px;

}

.photo1{
	background-image: url(../img/img1.jpeg) ;
	
}
.photo2{
	background-image: url(../img/img2.jpeg);
}
.photo3{
	background-image: url(../img/img3.jpeg);
}
